@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;700;900&display=swap');

/* root */

html{
    font-family: 'Be Vietnam Pro', Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
background-color: #000;
color: #fff;
margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'League Spartan', Helvetica, sans-serif;
}

p {
    font-family: 'Be Vietnam Pro', Helvetica, sans-serifM
}

h1{
    font-size: 4rem;
}

/* header and hero */
.header {
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 6%;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logo img{
    width: 44%;
}

.hero {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    width: 60%;
    margin: 0 10%
}

.scroll-button-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    left: 0;
}

.scroll-button a {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color:#000;
}

.fa-chevron-down {
    margin-left: 0.8rem;
}

.texts p {
    margin-top: -2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

/* content */

#game-modes {
    background-image: url("../img/bodybg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.game-section {
    text-align: center;
    margin: 3% 0;
    font-size: 1.5rem;
}

.game-modes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 2%;
    height: 24rem;
    box-shadow: 0 0 10px #000;
    text-align: center;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    height: 24rem;
    padding: 4rem;
    width: 100%;
    transform: translateY(16rem);
    transition: all 0.5s ease-in-out;
}

.card-info h3{
    font-size: 2.4rem;
    margin-top: -1rem;
    transition: 0.5s ease-in-out;
}

.card-info p {
    padding: 0 1rem;
}

.card:hover > .card-info h3{
    font-size: 2rem;
    margin-top: 1rem;
    transition: 0.5s ease-in-out;
}

.card:hover > .card-info {
    transform: translateY(0);
}

.campaign {
    background: rgba(0, 0, 0, 0.4) url("../img/single.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}


.multiplayer {
    background: rgba(0, 0, 0, 0.4) url("../img/multi.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

.multiplayer:hover {
    background: rgba(0, 0, 0, 0.8) url("../img/multi.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mods {
    background: rgba(0, 0, 0, 0.4) url("../img/mods.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

.mods:hover {
    background: rgba(0, 0, 0, 0.8) url("../img/mods.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

.fa-circle-right {
    font-size: 2.8rem;
}

.game-modes h3 {
    margin-bottom: 0px;
}

/* CTA */

.discord-cta {
    padding: 2% 20%;
    background-color: #C5842B;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.discord-button {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color:#000;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 20%;
}

.footer img {
    width: 10%;
}

/* Responsive */

@media screen and (min-width: 1228px) and (max-width: 1410px)  {
    /* .card {
        height: 14rem;
    } */

    .fa-circle-right {
        font-size: 2rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .logo img {
        width: 34%;
    }
    .header{
        max-height: 3rem;
    }
}

@media screen and (max-width: 1200px) {
    .game-modes {
        flex-wrap: wrap;
    }    
    .card {
        margin: 2rem 1rem;
        width: 80%;
    } 
}

@media screen and (max-width: 700px) {
    .game-section {
        width: 90%;
        margin: 2rem auto;
    }

    .footer img {
        width: 20%;
        margin-top: 5%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .texts p {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .logo img {
        width: 34%;
    }
    .header{
        max-height: 3rem;
    }
    
}