/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,800;1,200;1,400;1,700&display=swap');

/* Root structure */

html {
    font-size: 16px;
    font-family: Outfit, Helvetica, san-serif;
    color: #333333;
}

p {
    font-family: Heebo, Helvetica, san-serif;    
}

section {
    margin: 4rem 0px;
}

body {
  margin: 0;
}

/* Header */

.header {
    height: 4.8rem;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px #DA3D68 solid;
    width: 100%;
    left: 0px;
    top: 0px;
}

.logo-supporter {
    display: flex;
    align-items: center;
    max-width: 60%;
}

.logo {
    height: auto;
    width: 28%;
    margin: 0px 2rem;
}

.navbar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem;
    flex-wrap: nowrap;
}

img.supporter {
    margin: 0px 1rem;
    opacity: .6;
    width: 1.5rem;
    height: 1.5rem;
    mix-blend-mode: luminosity;
}

span.supporter {
    margin-right: -.5rem;
    opacity: .4;
    font-weight: 200;
}

.discord-button {
    /* background-image: linear-gradient(90deg,#e19632,#f75737 49%,#cd3282); */
    /* border-radius: 2rem; */
    /* padding: 0.8rem; */
    margin-left: 1rem;
    font-weight: bold;
    color: #cd3282;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.blog-button{
    text-decoration: none;
    color: #cd3282;
    display: inline-block;
    transition: 0.3s;
}


.navbar nav {
    display: inline;
}

.nav-links a:hover {
    color: #EB7F28;
    transition: 0.2s;
}


/* Hero */
.hero {
    top: 0rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8rem auto;
}

.head-title h1 {
    font-size: 3rem;
    font-weight: 200;
}

.head-title h1 span {
    color: #f75737;
    font-weight: bold;
}

.head-title {
    max-width: 65%;
    margin: 4rem auto;
}

/* Code block animated */
.code-block {
    background-color: #3A2F2F;
    color: #fff;
    min-width: 300px;
    max-width: 347px;
    min-height: 80px;
    max-height: 70px;
    text-align: left;
    border-radius: 0.8rem;
    padding-top: 0.8rem;
}

.code-block p {
    margin-left: 10%;
    margin-top: 8px;
    border-right: .15em solid #fff;
    font-family: 'Source Code Pro', Arial, sans-serif;

    border-right: .15em solid #ddd;
    font-family: "Courier";
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

.code-block p:nth-child(1) {
    width: 14rem;
    -webkit-animation: type 2s steps(25, end);
    animation: type 2s steps(25, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .code-block p:nth-child(2) {
    width: 9em;
    opacity: 0;
    -webkit-animation: type2 2s steps(25, end), blink .5s step-end infinite alternate;
    animation: type2 2s steps(25, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #ddd;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #ddd;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
  
  @-webkit-keyframes type2 {
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      @-webkit-keyframes blink {
        50% {
          border-color: tranparent;
        }
      }

/* Animation end */

.center-content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-buttons {
    margin: 0 2rem;
    display: flex;
}

.primary-button {
    background-image: linear-gradient(90deg,#e19632,#f75737 49%,#cd3282);
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    text-decoration: none;
    margin-right: 0.4rem;
    display: inline-block;
}

.secondary-button {
    background-color: #ebf0f4;
    border: 1px solid rgba(27,31,36,.15);
    color: #333;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    text-decoration: none;
    margin-left: 0.4rem;
    display: inline-block;
    transition: 0.3s;
}

.secondary-button:hover {
  background-color: #F2E46F;
  transition: 0.3s;
}

.tertiary-button {
    background-color: transparent;
    border: 1px solid #ebf0f4;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    text-decoration: none;
    margin-left: 0.4rem;
    display: inline-block;
    transition: 0.3s;
}

.tertiary-button:hover {
  background-color: #ebf0f4;
  color: #333;
  transition: 0.3s;
}

.fa-star, .fa-file-code {
    margin-right: 4px;
}

/* Content */

.content1 {
    margin-top: 8rem;
}

.video-section {
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    text-align: center;
    max-width: 54%;
    margin: 0 auto;
}

.section-title h2 {
    font-weight: 200;
    font-size: 2rem;
    color: rgba(51,51,51,.84)
}

h3 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.video-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.form {
    background-color: #E2472C;
    height: 100%;
    padding: 4rem 4rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}

.form h5 {
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    margin-top: 0;
    color: #fff
}

.form input {
    border: 1px #fff solid;
    color: #333333;
    padding: 0.7rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.form button {
    background-color: #F2E46F;
    border: 1px solid #F2E46F;
    color: #333;
    border: 0px;
    padding: 0.8rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
  background-color: #cd3282;
  color: #fff;
  transition: 0.3s;
}

.code-block-static {
  background-color: #3A2F2F;
  color: #fff;
  max-width: 380px;
  min-height: 58px;
  text-align: left;
  border-radius: 0.8rem;
  padding-top: 0.8rem;
  margin: -1rem auto 3rem auto;
}

.code-block-static p {
  margin-left: 10%;
  margin-top: 12px;
  font-size: 1rem !important;
  font-family: 'Source Code Pro', Arial, sans-serif;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto 4rem auto;
}

.get-started h3 {
  text-align: center;
}

.row-img img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.row-img img {
  max-width: 90%;
}

.features p {
  font-size: 1.3rem;
}

.description {
  margin: 0 auto;
  width: 70%;
}

.description p {
  font-weight: 300;
}

.cta {
  display: flex;
  align-items: center;
  background-color: #E2472C;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}


.cta-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-left: 5%;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-cta h2 {
  color: #fff;
  font-size: 2rem; 
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.about-us {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

.about-us h2 {
  font-size: 2rem;
}

.about-us p {
  font-size: 1.3rem;
  font-weight: 300;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.about-img img {
  width: 33%;
} 

a {
  color: #cd3282;
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: #F2E46F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 8%;
  margin: 4.4rem auto 0 auto;
}

footer h2 {
  font-size: 2rem;
}

#form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: -2rem;
}

#form-footer input {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0px 1%;
}

#form-footer button {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-left: 1%;
  background-color: #E2472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#form-footer button:hover {
  background-color: #cd3282;
  transition: 0.3s;
}

footer a {
  color: #E2472C;
  transition: 0.3s;
}

footer a:hover {
  color: #cd3282;
  transition: 0.3s;
}

.social-icons-footer {
  display: flex;
  flex-direction: row;
  margin-right: 3%;
}

.fa-discord {
  margin-right: 1rem;
}

.footer-title {
  margin: 0;
}

/* Responsive */

@media only screen and (min-width:721px) and (max-width: 990px) {
  .row {
    max-width: 98%;
  }
  .hero {
    max-width: 98%;
  }
  .video-form {
    flex-direction: column;
  }
  .form {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;
  }
}

@media only screen and (max-width: 816px) {
  .center-content {
    flex-direction: column;
  }
  .hero {
    margin-bottom: 2rem;
  }
  .cta {
    flex-direction: column;
    margin: 0 auto;
  }
  .cta-actions {
    margin-left: 0;
  }
  .cta-content {
    margin-right: 0;
  }
  .video-section {
    margin-top: -2rem;
  }
  .about-img {
    display: none;
  }
  .video-form {
    flex-direction: column;
  }
  .code-block {
    margin-bottom: 3rem;
  }
  .form {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;
  }
  .row {
    flex-direction: column;
  }
  #track {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 640px) {
  #form-footer {
    flex-direction: column;
  }
  #form-footer input {
    margin: 1rem 0 1rem 0;
  }
  .discord-button {
    display: none;
  }
  .youtube-video {
    max-width: 84%;
  }
}

@media only screen and (max-width: 498px) {
  .navbar,.supporter {
    display: none;
  }
  .logo {
    width: 58%;
  }
  .logo-supporter {
    flex-direction: column;
  }
  .form {
    padding: 4rem 1rem;
  }
  .code-block-static p {
    margin-left: 4%;
  }
  .row,.description {
    max-width: 98%;
  }
}
