@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700&display=swap');

html {
    font-size: 16px;
    font-family: Heebo, Helvetica, san-serif;
}

body {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #1E1E1E;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.logo {
    font-family: 'Inria Sans', Helvetica, sans-serif;
}

.hero {
    background-color: #2F2F2F;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    align-items: center;
}

.photo img {
    max-width: 248px;
    border: 4px #fff solid;
    border-radius: 50%;
}

.vertical-line {
    border-left: 4px solid #fff;
    border-radius: 99px;
    height: 200px;
    margin: 0 3rem;
}

.name {
    font-family: 'Inria Sans', Helvetica, sans-serif;
    text-align: left;
} 

.name h3 {
    margin-bottom: -2rem;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.main-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 0.4s;
}

.main-skills h2 {
    margin-top: 3rem;
    font-weight: 100;
}

.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.primary-icons {
    margin-top: 2rem;
    font-size: 4rem;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary-icons {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-html5:hover {
    color: #F78543;
    transition: color 0.4s;
}

.fa-css3-alt:hover {
    color: #67AFEA;
    transition: color 0.4s;
}

.fa-square-js:hover {
    color: #F0DB4F;
    transition: color 0.4s;
}

.pr-icon:hover,.au-icon:hover,.ae-icon:hover {
    color: #9A9AFF;
    transition: color 0.4s;
}

.ai-icon:hover {
    color: #FF9A00;
    transition: color 0.4s;
}

.id-icon:hover {
    color: #FF3366;
    transition: color 0.4s;
}

.ps-icon:hover {
    color: #2DA9FF;
    transition: color 0.4s;
}

.work-filter {
  background: rgb(47,47,47);
  background: linear-gradient(180deg, rgba(47,47,47,1) 0%, rgba(30,30,30,1) 100%);
  padding-bottom: 4rem;
  padding-top: 1rem;
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

main h2 {
  font-family: 'Inria Sans', Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-top: -1rem;
  margin-bottom: 4rem;
}

.work-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 4rem;
}

.work-categories .fa-regular {
  font-size: 2.8rem;
  margin-top: 1rem;
}

.work-categories .web {
  background-image: url('../video/code.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-categories .video {
  background-image: url('../video/video.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-categories .personal {
  background-image: url('../video/personal.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-categories .design {
  background-image: url('../video/design.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-categories h3 {
  margin-top: .4rem;
}

.work-categories .box {
  width: 480px;
  height: 148px;
  margin: 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h3 {
  /* font-family: 'Inria Sans', Helvetica, sans-serif; */
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.featured-project, .secondary-project {
  cursor: pointer;
}

.work-filter span {
  margin-top: -1rem;
}

.project-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured-project {
  width: 1200px;
  height: 300px;
  border-radius: 1rem;
  position: relative;
}

 .project-texts {
  display: flex;
  flex-direction: column;
  visibility: visible;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 880px;
  height: 300px;
  visibility: hidden;
}

.project-texts-secondary h3 {
  margin-top: -1rem;
}

/*
.secondary-project h4, nav {
  visibility: hidden;
} */

.two-col-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-project {
  position: relative;
  width: 584px;
  height: 200px;
  margin: 2rem 1rem;
  border-radius: 1rem;
}

#sematic-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
  background-image: url("../img/sematic.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
}

.project-texts-secondary {
  display: flex;
  flex-direction: column;
  visibility: visible;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 420px;
  height: 200px;
  visibility: hidden;
}

.featured-project:hover > #sematic-bg {
  filter: blur(4px) brightness(14%);
}

.secondary-project:hover > #atextolanding-bg {
  filter: blur(4px) brightness(14%);
}

.secondary-project:hover > #atextoweb-bg {
  filter: blur(4px) brightness(14%);
}

#atextolanding-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
  background-image: url("../img/atexto-landing.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
}

.view-button {
  margin-top: -0.8rem;
  background-color: #fff;
  border: 1px #fff solid;
  color: #103778;
  padding: .4rem .8rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.view-button:hover {
  background-color: #103778;
  color: #fff;
}

.box-title {
  transition: all 0.2s;
}

#atextoweb-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
  background-image: url("../img/atexto-web.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
}

/* Modal styles */
.project-modal {
  display: none;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #103778;
  border-radius: 1rem;
  color: #fff;
  margin: auto;
  padding: .7rem 1.5rem;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.4s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content h3 {
  margin-top: 0;
  font-family: 'Inria Sans', Helvetica, sans-serif;
  font-weight: 800;
}

.modal-content p {
  margin: 1.8rem 0;
}

/* Close modal button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FF3366;
  text-decoration: none;
  cursor: pointer;
}

.modal-details-web {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.modal-details-web .modal-description {
  text-align: left;
  margin-right: 3rem;
}

.modal-details-web .modal-preview {
  margin-left: 3rem;
}

.modal-details-web .modal-preview img {
  width: 300px;
  border-radius: .48rem;
}

.title-divider {
  border-bottom: 2px #fff solid;
  border-radius: 80px;
  width: 48%;
}

/* Responsive */

@media screen and (max-width: 1500px) {
  .work-categories {
    width: 100%;
  }  

  .featured-project {
    width: 884px;
  }
  
  .secondary-project {
    width: 424px;
  }
}

/* animations */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */

@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  /* Modal Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}